@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: #fdfdfd;
  --foreground: #0f0f0f;
  --primary: #443627;
  --primary-foreground: #fdfdfd;
  --secondary: #f8f2de;
  --secondary-foreground: #0f0f0f;
  --accent: #d68b21;
  --accent-foreground: #fdfdfd;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #443627;
}

html,
body {
  @apply bg-background text-foreground;
}
